@import './common';

* {
    margin: 0;
    padding: 0;
    outline: none;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}

*:not(input,
select,
textarea) {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

html {
    
}

body {
    height: auto;
}

input {
    word-break: break-all;
}

input,
textarea,
keygen,
select,
button {
    font-size: 12px;
    border: 0;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-input-placeholder {
    color: #ccc;
    -webkit-text-fill-color: #ccc;
    opacity: 1;
    -webkit-opacity:1;
}

.con {
    @include transform(30deg, 1,2, 10px, 10px)
}
